
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html{
	box-sizing:border-box;
}
*,*:before,*:after{box-sizing:inherit}
button{
	   font:inherit;
	   margin:0;
	   overflow:visible;
	   text-transform:none
}
select{
   height: 29px;
   overflow: hidden;
   width: 100px;
}
li{padding:8px 6px;border-bottom:1px solid #ddd}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:0px 0}

.pantry{
	position: fixed;
	width: 100%;
	top:0;
	z-index: 10;
}
.pantrytitle{
	width: 100%;
	color: white;
	text-align: center;
	background: #2874f0;
	border: 1px solid black;
}
.headerbox{
	width: 100%;
	border-bottom: 1px solid black;	
	margin-right: 10px;	
	height: 27px;
	background-color: #f1f3f6;
	overflow: auto;
}
.header{
	width: 15%;
	text-align: center;
	display: flex;
	z-index: 1;
	margin-right: 10px;
	float: right;	
}
.categories{
	float: left;
	display: flex;
	width: 50%;
	flex-wrap: wrap; 
}
.orderoption{
	font-size: 13px;
	color: black;
	width: 200px;
	height: 20px;
	display: flex;
}
.orderoption > a{
	text-align: center;
	vertical-align: middle;
	color: black
}
.categoryitem{
	font-size: 13px;
	color: black;
	width: 90px;
	height: 20px;
	display: flex;

}
.categoryitem > a{
	margin:auto;
	text-align: center;
	vertical-align: middle;
	color: black
}

.container{
	padding:0.41em 16px;
	display: flex;
	flex-wrap: wrap;
	background-color: #f1f3f6;
	top: 75px;
	position: absolute;	
}
.container2{
	padding:0.41em 16px;
	display: flex;
	flex-wrap: wrap;
	background-color: #f1f3f6;
	top: 45px;
	width: 100%;
	position: absolute;	
}
.h3{
	align:center;
}
.w-green{color:#fff;background-color:#4CAF50}

.bodynext{
	display:flex;
	flex-wrap: wrap; 
}
.menu{
	text-align: center;	
	font-size: 25px;
	font-weight: 500;
	font-family: Times New Roman;
	margin-top: 5px;

}
#items{
	width: 65%;
	border-right:1px dotted black;
	float: left;
	margin-right: 7px;

}
.item{
	width: 220px;
	float:left;
	background-color: white;
	margin-top: 7px;
	margin-right: 2px;
}
.addtocart-button{
	user-select: none;
	border: none;
    display: inline-block;
    outline: 0;
    padding: 3px 7px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff!important;
    background-color: #4CAF50!important;
}
.w-ul{
	list-style-type: none;
    padding: 0;
    margin: 0;

}
.w-ul{list-style-type:none;padding:0;margin:0}.w-ul 

.w-ul li:last-child{border-bottom:none}

.w-card-4, .w-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.img{
	width: 100%;
	height: 170px;
	cursor: pointer;	
}	

.buttondiv {
	padding-left: 53px;
	padding-right: 10px;
	padding-bottom: 10px;
	
}
.buttonxy{
	padding-bottom: 5px;
	padding: auto;
}


.cartitems{
	width:33%;
	float: right;
	margin-left: 10px;
	min-width: 300px;

}
.orderlist{
	font-weight: 500;
	text-align: center;
	font-size: 25px;
	font-family: Times New Roman;
	margin:auto;
	margin-bottom: 10px;
	margin-top: 5px;
}
.cartcart
{
	height: 400px;
	overflow: auto;
}
.addbutton{
	color: green;
}
.itemname{
	text-align: center;
	margin-top: 5px;
	font-size: 15px;
	margin-bottom: 5px;
	font-family: Roboto, Arial, sans-serif;
}
.orderlistitem{
	text-align: center;
	padding-bottom: 5px;
	font-size: 15px;	
	margin-bottom: 5px;		

}
.w-bar{
	   width:100%;
	   overflow:hidden;
       display:inline-block;
       width:auto;
}
.w-bar-item{
			padding:8px 16px;
			float:left;
			width:auto;
			border:none;
			outline:none;
			display:block;
			white-space:normal;
			text-align:center;
}
.w-circle{border-radius:50%;}

.w-block{display:block;width:100%}


.cartbox{
	background-color: white;
	padding-bottom: 10px;
	min-width: 200px;
}
.cartremove{
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin-left: 20px;
	font-size: 16px;
	margin-top: 15px;
	margin-right: 40px; 
	float: right;

}

.placeorder{
	margin-left: 40%;
	margin-top: 40px;
}
.placeorderbutton{
	text-transform:uppercase;
	background: #2cd2b1!important;
	padding:5px 10px;
	color: white;
	cursor: pointer;
	margin-top:10	px;	
}
.boxitemqty{
    display: inline-block;
    padding: 0px 10px;
    width: 46px;
    height: 28px;
    padding-top: 1px;
    border-radius: 1px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 9px;
}
.boxtext{
	border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.pentitle{
	margin-top: 40px;
	font-weight: 500;
	text-align: center;
	font-size: 25px;
	background-color: white;
	margin-bottom: 15px;

}
#pending{
	background-color:#f1f3f6;
	border-top: 1px solid black;
	width: 100%;
}

#pending2{
	background-color:#f1f3f6;
	width: 100%;
}

#completed{
	width: 100%;
}

.penlist
{
	background-color: white;
}
.penlistitem
{
	display: flex;
	margin-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #eee;
	overflow: auto;
}
.penpersonimg
{
	display: inline-block;
	background-color: white;
	width: 10%;
	margin:auto;
	min-width: 150px;
}
.penperson
{
	display: inline-block;
	width: 17%;
	white-space: normal;
	height: 100%;
	background-color: white;
	margin-bottom: 8px;
	margin:auto;
	min-width: 150px;
}
.penorder
{
	display: inline-block;
	width: 17%;
	background-color: white;
	margin:auto;
	min-width: 150px;
}
.penstatus
{
	display: inline-block;
	text-align: center;
	margin:auto;	
	width: 7%;
	min-width: 150px;
}
.a-penstatus
{
	display: inline-block;
	text-align: center;
	margin:auto;	
	width: 10%;
	min-width:150px;

}
.astatustext{
	margin-bottom: 5px;
	min-width: 150px;
}
.penextra
{
	display: inline-block;
	margin-left: 30px;
	margin:auto;
	min-width: 200px;

}
.penupdate{
	display: inline-block;
}
.penupdatebutton{
	text-transform:uppercase;
	padding:5px 10px;
	color: white;
	cursor: pointer;
	background-color:	#1E90FF;
}
.pencancelbutton{
	text-transform:uppercase;
	padding:5px 10px;
	cursor: pointer;
	background-color: #ff5a5a;
	color: white;
}

.pencancel
{
display: inline-block;
}
.pendeletebutton
{
	text-transform:uppercase;
	padding:5px 10px;
	cursor: pointer;
	color: white;
	background-color: #DC143C;margin-left: 40px;
}

